
html, body {
    font-family: arial, sans serif;
    font-size: 11pt;
    color: #4D4D4D;
    line-height: 1.7em;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
}

#container {
    margin: 0 auto;
    width: 950px;
}

#menu {
    width: 200px;
    float: left;
}

#menu-inner {
    padding: 70px 20px 0 0;
}

#contents {
    padding: 50px 25px;

    width: 700px;
    float: left;
}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FACAE6;
    color: #F0209B;
}

a {
    color: #F0209B;
    text-decoration: none;
}
a:hover {
    color: #BE1F85;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}
th {
    background-color: #E5E5E5;
}
th, td {
    border: 1px solid lightgray;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}

table.example {
    border-collapse: collapse;
}

th.example {
    font-weight: normal;
    border: 1px solid lightgray;
    background-color: #E5E5E5;
    text-align: left;
    vertical-align: top;
    padding: 5px;
}
td.example {
    border: 1px solid lightgray;
    padding: 5px;
}

pre, code {
    font-size: 10pt;
}

pre {
    line-height: 1.5em;
    overflow-x: auto;
    background-color: #F5F5F5;
    border: 1px solid lightgray;
    padding: 5px;
}

pre.example {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

div.lastupdate {
    font-size: 75%;
    margin-top: 40px;

    border-top: 1px solid #FACAE6;
    color: #F0209B;
}


pre .nt {
    color: gray;
}

div.highlight {
    float:right;
    width:300px;
    font-style: italic;
    font-size: 10pt;
    text-align: center;
    border: 1px solid lightgray;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

div.highlight span {
    font-weight: bold;
}