<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EveCore</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SingleAgentServlet</servlet-name>
    <servlet-class>com.almende.eve.service.http.SingleAgentServlet</servlet-class>
    <init-param>
      <description>servlet configuration (yaml file)</description> 
      <param-name>config</param-name>
      <param-value>eve_singleagent.yaml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleAgentServlet</servlet-name>
    <url-pattern>/testagent/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AgentServlet</servlet-name>
    <servlet-class>com.almende.eve.service.http.AgentServlet</servlet-class>
    <init-param>
      <description>servlet configuration (yaml file)</description> 
      <param-name>config</param-name>
      <param-value>eve.yaml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentServlet</servlet-name>
    <url-pattern>/agents/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RESTServlet</servlet-name>
    <servlet-class>com.almende.eve.service.http.RestServlet</servlet-class>
    <init-param>
      <description>servlet configuration (yaml file)</description> 
      <param-name>config</param-name>
      <param-value>eve.yaml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

</web-app>