<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EveGoogleServices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>MultiAgentServlet</servlet-name>
    <servlet-class>com.almende.eve.service.http.MultiAgentServlet</servlet-class>
    <init-param>
      <description>servlet configuration (yaml file)</description> 
      <param-name>config</param-name>
      <param-value>eve.yaml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiAgentServlet</servlet-name>
    <url-pattern>/agents/*</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>ManagementServlet</servlet-name>
    <servlet-class>com.almende.eve.management.ManagementServlet</servlet-class>
    <init-param>
      <description>servlet configuration (yaml file)</description> 
      <param-name>config</param-name>
      <param-value>eve.yaml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagementServlet</servlet-name>
    <url-pattern>/management/*</url-pattern>
  </servlet-mapping>

</web-app>