<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" metadata-complete="true" version="3.0">
	<display-name>GlobalGoalDemo</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>config</param-name>
		<param-value>eve.yaml</param-value>
	</context-param>
	<listener>
		<listener-class>com.almende.eve.transport.http.AgentListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ggdemo</servlet-name>
		<servlet-class>com.almende.eve.transport.http.AgentServlet</servlet-class>
		<init-param>
			<param-name>environment.Development.servlet_url</param-name>
			<param-value>http://localhost:8080/ggdemo/agents/</param-value>
		</init-param>
		<init-param>
			<param-name>environment.Production.servlet_url</param-name>
			<param-value>http://openid.almende.org:8080/ggdemo/agents/</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ggdemo</servlet-name>
		<url-pattern>/agents/*</url-pattern>
	</servlet-mapping>
</web-app>
