<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
	
  <servlet>
    <servlet-name>MultiAgentServlet</servlet-name>
    <servlet-class>com.almende.eve.servlet.MultiAgentServlet</servlet-class>
    <init-param>
      <description>The agent classes served by the servlet</description> 
      <param-name>agents</param-name>
      <param-value>
        com.almende.eve.agent.example.TestAgent;
        com.almende.eve.agent.example.EchoAgent;
        com.almende.eve.agent.example.CalcAgent;
      </param-value>
    </init-param>
    <init-param>
      <description>The context for reading/writing persistent data</description> 
      <param-name>context</param-name>
      <param-value>com.almende.eve.context.google.DatastoreContext</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiAgentServlet</servlet-name>
    <url-pattern>/agents/*</url-pattern>
  </servlet-mapping>
	
</web-app>
