html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

html, body, input, th, td {
    font-family: arial, sans-serif;
    font-size: 11pt;
    color: #4D4D4D;
    line-height: 1.7em;
}

#container {
    margin: 40px auto;
    width: 1100px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FACAE6;
    color: #F0209B;
}

p {
    max-width: 700px;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: normal;
    border: 1px solid lightgray;
    background-color: #E5E5E5;
    text-align: left;
    vertical-align: top;
    padding: 5px;
}
td {
    border: 1px solid lightgray;
    padding: 5px;
    vertical-align: top;
}
td.noborder {
    border: none;
    padding: 2px;
}
td.middle {
    vertical-align: middle;
}

input[type=text] {
    border: 1px solid lightgray;
    background-color: #F5F5F5;
    width: 100px;
}

span.loading {
    color: lightgray;
}
span.error {
    color: red;
}

a {
    color: #F0209B;
    text-decoration: none;
}
a:hover {
    color: #BE1F85;
    text-decoration: underline;
}

a.remove, a.add, a.optional {
    color: gray;
    text-decoration: none;
    font-size: 200%;
}
a.remove:hover {
    color: red;
}
a.add:hover {
    color: green;
}

a.optional {
    font-size: 150%;
}
a.optional:hover {
    color: #2B7CE9;
}