<!DOCTYPE HTML>
<html>
<head>
    <title>Eve - {{ page.title }} </title>
    <link rel="shortcut icon" href="img/favicon.ico" >

    <meta name="title" content="Eve - {{ page.title }}">
    <meta name="keywords" content="eve, agent, software agent, software agents, agent platform, scalable, multiplatform, multipurpose, web based, cloud, http, json, json-rpc, opensource, open source" >
    <meta name="description" content="Eve is a multipurpose, web based agent platform. The project aims to develop an open protocol for communication between software agents. Eve is designed as a decentral, scalable system for autonomously acting agents. Eve uses the existing world wide web as platform, and uses existing protocols for data exchange (HTTP) and for messaging (JSON-RPC)." >
    <meta name="author" content="Almende B.V." >

    <!--
    <link type="text/css" rel="stylesheet" href="js/foundation/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="js/foundation/css/foundation.min.css">
    -->
    <link type="text/css" rel="stylesheet" href="js/jquery/jquery-dropdown/jquery.dropdown.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/menu.css">
    <link type="text/css" rel="stylesheet" href="js/lightbox/css/lightbox.css">

    <script type="text/javascript" src="js/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-dropdown/jquery.dropdown.js"></script>
	<script type="text/javascript" src="js/lightbox/js/lightbox-2.6.min.js"></script>
    <!--
    <script type="text/javascript" src="js/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="js/foundation/js/foundation/foundation.dropdown.js"></script>
    -->
    <script type="text/javascript" src="js/menu.js"></script>
</head>

<body>

<a href="https://github.com/almende/eve" style="position: fixed; top: 0; right: 0; border: 0;" >
    <img src="img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" >
</a>

<div id="container">

    <div id="menu">
        <div id="menu-inner">

            <a href="index.html"><img src="img/logo/eve128.png" alt="logo"></a>
            <br>

            <div id="menu-tree-container">
                <ul id="menu-tree">
                    <li class="home">
                        <a href="index.html">Home</a>
                    </li>
                    <li id="concepts">
                        <span class="title">Concepts</span>
                        <ul>
                            <li><a href="concepts/introduction.html">Introduction</a></li>
                            <li><a href="concepts/protocol.html">Protocol</a></li>
                            <li><a href="concepts/application_areas.html">Application Areas</a></li>
                            <li><a href="concepts/position.html">Position</a></li>
                        </ul>
                    </li>

                    <li id="java">
                        <span class="title">Java</span>
                        <ul>
                            <li><a href="implementations/java/introduction.html">Introduction</a></li>
                            <li><a href="implementations/java/downloads.html">Downloads</a></li>
                            <li><a href="implementations/java/getting_started.html">Getting Started</a></li>
                            <li id="reference">
                                <span class="title">Reference</span>
                                <ul>
                                    <li><a href="implementations/java/libraries.html">Libraries</a></li>
                                    <li><a href="implementations/java/configuration.html">Configuration</a></li>
                                    <li><a href="implementations/java/services.html">Services</a></li>
                                    <li><a href="implementations/java/agents.html">Agents</a></li>
                                    <!-- TODO: link to java doc
                                    <li><a href="implementations/java/javadoc/">JavaDoc</a></li>
                                    -->
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="javascript">
                        <span class="title">JavaScript</span>
                        <ul>
                            <li><a href="implementations/javascript/introduction.html">Introduction</a></li>
                            <li><a href="implementations/javascript/downloads.html">Downloads</a></li>
                            <li><a href="implementations/javascript/gettingstarted.html">Getting Started</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="contents">
        {{ content }}

        <div class="lastupdate">
            Site last rendered {{ site.time | date_to_long_string }}
        </div>
    </div>

</div>
</body>
</html>
