<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>EveCore</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>eve configuration (yaml file)</description>
		<param-name>eve_config</param-name>
		<param-value>eve.yaml</param-value>
	</context-param>
	<context-param>
		<param-name>eve_authentication</param-name>
		<param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>com.almende.eve.transport.http.AgentListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>AgentServlet</servlet-name>
		<servlet-class>com.almende.eve.transport.http.AgentServlet</servlet-class>
		<init-param>
			<param-name>servlet_url</param-name>
			<param-value>http://localhost:8080/agents/</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgentServlet</servlet-name>
		<url-pattern>/agents/*</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Eve Test Environment</realm-name>
	</login-config>

</web-app>
